*, *::before, *::after{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: flex;
    width: 100%;
    background-color: #333;
}

.main{
    display: flex;
    flex-direction: column;
    width: 81vw;
    background: #f5f5f5;
    margin: 0 auto;
}

.img-container{
    position: relative;
    display: flex;
}

.img{
    width: 25vw;
    height: 99.56vh;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 178px;
    width: 25vw;
    gap: 4px;
    color: #fff;
    background: #00000052;
    padding: 10px 0;
}

.logo{
    width: 6vw;
    height: 15vh;
}

.logo-title{
    font-size: max(1rem, calc(16px + 5vw));
    font-family: "Skranji", system-ui;
    font-weight: 400;
    font-style: normal;
}

.logo-credit{
    position: absolute;
    bottom: 20px;
    left: calc(7vw - 2rem);
    font-size: 0.9rem;
    width: calc(21vw - 6vw);
}

.logo-link, .logo-credit{
    color: #fff;
}

.form-container{
    margin-top: 50px;
}

.text, .sign-up-form, .btn, .small-par{
    padding-left: 5vw;
}

.text{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 60px 0 70px 0;
    line-height: 1.5;
}

.par{
    font-size: min(2rem, calc(1rem + 0.5vw));
}

.sign-up-form{
    padding: 20px 0;
    padding-left: 5vw;
    width: max(51vw, 5vw);
    background-color: #fff;
    box-shadow: -3px 4px 6px #a7a5a56b;
}

.title{
    color: #1c1e23;
}

.form-div-wrapper{
    display: flex;
    margin-top: 20px;
    gap: min(5vw, 7rem);
    width: max(50vw, 43vw);
}

.form-div{
    display: flex;
    flex-direction: column;
    width: max(17vw, 13vw);
}

.label{
    font-size: max(0.8vw, 0.8rem);
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #333;
}

.input{
    appearance: none;
    height: max(1.5vw, 2vw);
    border-radius: 4px;
    padding: 4px 2px 4px 10px;
    font-size: 1rem;
    border: 1px solid #E5E7EB;
}

.input:focus{
    outline: none;
    border: 1px solid blue;
    box-shadow: 1px 1px 4px #a7a5a5;
}

.input:invalid{
    border: 1px solid red;
}

.pswd-one::before{
    content: "* Password do not match";
    color: red;
    font-size: 0.9rem;
}

.btn{
    background-color: #46573e;
    border: none;
    border-radius: 10px;
    margin: 2vw 5vw;
    padding: 4px;
    width: max(15vw, 12vw);
    height: max(5vh, 4vh);
    font-size: min(1.1rem, 2vw);
    font-weight: bold;
    box-shadow: 1px 2px 3px #333;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
    transform: scale(1);
}

.btn:hover{
    background-color: #46573e34;
    color: #46573e;
    transform: scale(1.05);
}

.log-in-link{
    color: #46573e;
    font-weight: bold;
    text-decoration: none;
}